

/* TYPOGRAPHY (Tekstien tyylit) */

.welcome-text {
    color:#fff;
}

p {
    color:#fff;
}

a {
    color:#fff !important;
}

/* CLASSES */

.base-bg {
  background-image: linear-gradient(to right top, #966e84, #866881, #75637c, #665d75, #57576d, #51596e, #4b5b6f, #465d6e, #466877, #46727d, #497d82, #508784);
  height:100vh;
  margin:0;
  padding:0;

}

.link-btn {
  letter-spacing: 1.5px;
  margin-left:5px;
  margin-right:5px;
}

.navbar-background {
    /*background-color: rgb(109, 108, 146) !important;*/
}

.card {
  background-color: rgba(255, 255, 255,0.6) !important;
  border-radius:25px;
}

.card-body {
  background-color: rgba(255, 255, 255,0.6) !important;
  box-shadow: 0px 8px 19px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 8px 19px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 8px 19px -4px rgba(0,0,0,0.75);
  border-radius:25px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


/* ID'S */