{% include 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
{% include 'user_navbar.html'%}
{% else %}
{% include 'navbar.html' %}
{% endif %}

<div class="container">
                    <h5 class="card-title text-center text-light m-5">Create your movie list!</h5>
                    <form class="form-label-group text-center" name="search_movie" method="POST" action="/users/{{ current_user.username }}/create/movies">
                        <div>
                            <h3 class="text-center text-light mb-4">Start by searching a movie you want to review</h3>
                            <input type="text" name="movie_title" class="form-control text-center col-md-6 mx-auto" placeholder=" Ex. Shrek 2">
                        </div>

                        <button class="btn btn-info btn-block mx-auto mt-2 text-center col-md-6" type="submit">Search</button>
                    </form>
</div>

{% endblock content %}