{% include 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
{% include 'user_navbar.html'%}
{% else %}
{% include 'navbar.html' %}
{% endif %}

<div class="container pb-5">
    <form class="form-label-group text-center" name="search_movie" method="POST" action="/reviews/delete/{{review.id}}">
    <div>
         <div class="d-inline-flex flex-row pt-3 pb-3 text-center">
                <div class="col-sm mx-auto">
                    <img class="card-img-top img-resize mx-auto" src="{{ movie.image_url }}" alt="Card image cap">
                    <ul class="list-group list-group-flush img-resize">
                        <li class="list-group-item"><strong>{{ movie.movie_title }}</strong></li>
                        <li class="list-group-item">IMDb rating: <strong>{{ movie.imdb_rating }}</strong></li>
                        <li class="list-group-item">Release year: <strong>{{ movie.release_year }}</strong></li>
                    </ul>
        </div>
    </div>

        <div class="d-flex flex-column">
                <h5 class="text-light mt-3">Your review: <br> {{review.user_review}}</h5>
                <h5 class="text-light mt-3">Your rating: <br> {{review.user_rating}}</h5>


        </div>
    
        <h4 class="text-warning">Are you sure you want to delete your review?</h4>
        <button class="btn btn-danger mx-auto mt-4 text-center col-md-2" type="submit">Yes, delete my review</button>
    </form>
</div>

{% endblock content %}