{% include 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}
{% include 'user_navbar.html'%}
{% else %}
{% include 'navbar.html' %}
{% endif %}

<div class="container pb-5">
    <h5 class="card-title text-center text-light m-5">Currently editing review for {{ movie.movie_title }}</h5>
    <form class="form-label-group text-center" name="search_movie" method="POST" action="/reviews/edit/{{review.id}}">
    <div>
         <div class="d-inline-flex flex-row pt-3 pb-3 text-center">
                <div class="col-sm mx-auto">
                    <img class="card-img-top img-resize mx-auto" src="{{ movie.image_url }}" alt="Card image cap">
                    <ul class="list-group list-group-flush img-resize">
                        <li class="list-group-item"><strong>{{ movie.movie_title }}</strong></li>
                        <li class="list-group-item">IMDb rating: <strong>{{ movie.imdb_rating }}</strong></li>
                        <li class="list-group-item">Release year: <strong>{{ movie.release_year }}</strong></li>
                    </ul>
        </div>
    </div>
        <div class="d-flex flex-column">
        <label class="text-light">Your review:</label>
            <textarea class="mx-auto mt-2 col-md-6" rows="8" name="review" placeholder="Your review here...">{{review.user_review}}</textarea>
                
                <label class="text-light mt-3">Your rating:</label>
                <select name="rating" id="rating" class=" mx-auto text-center">
                    {% for i in range(10) %}
                        {% if i+1 == review.user_rating|int %}
                            <option selected value="{{ i+1 }}">{{ i+1 }}</option>
                        {% else %}
                            <option value="{{ i+1 }}">{{ i+1  }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

        </div>
        <button class="btn btn-success mx-auto mt-4 text-center col-md-2" type="submit">Edit review</button>
    </form>
</div>

{% endblock content %}