{% include 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
{% include 'user_navbar.html'%}
{% else %}
{% include 'navbar.html' %}
{% endif %}

<div class="container">
    <h5 class="card-title text-center text-light m-5">Editing review...</h5>
    <form class="form-label-group text-center" name="search_movie" method="POST" action="/reviews/edit/{{review.id}}">
        <div>
            <p>{{ movie.movie_title }}</p>
            <p>{{ movie.imdb_rating }}</p>
            <p>{{ movie.release_year }}</p>
            <textarea class="mx-auto mt-2 col-md-6" name="review" placeholder="Your review here...">{{review.user_review}}</textarea>
        </div>

        <label for="rating">Your rating:</label>
        <select name="rating" id="rating">
            <option>{{review.user_rating}}</option>
            {% for i in range(10) %}
                <option>{{i+1}}</option>
            {% endfor %}
        </select>

        <button class="btn btn-info btn-block mx-auto mt-2 text-center col-md-6" type="submit">Save review</button>
    </form>
</div>

{% endblock content %}