{% include 'base.html' %}

{% block content%}
<div class="base-bg">
{% if current_user.is_authenticated %}
{% include 'user_navbar.html'%}
{% else %}
{% include 'navbar.html' %}
{% endif %}



    <div class="container pt-5">
        <div class="jumbotron">
            {% if current_user.is_authenticated %}
                <h1 class="display-4 text-center">Welcome, {{ current_user.username }}!</h1>
                <hr class="my-4">
            {% else %}
                <h1 class="display-4 text-center">Welcome to MyCinemaLister!</h1>
                <p class="lead text-dark">MyCinemaLister is a great way to share your movie interests with the rest of the world!</p>
                <p class="lead text-dark">Create your own lists, share them with your friends and get new ideas from other people!</p>
                <hr class="my-4">
                <p class="lead text-center">
                    <a class="btn btn-primary btn-lg" href="/register" role="button">Sign up here!</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}