<nav class="navbar navbar-expand-lg navbar-light navbar-background">
    <!-- Collape navbar -->
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item pr-4">
          <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png">
          </a>
      </li>
      <li class="nav-item link-btn pt-4">
        <a class="nav-link" href="#">Your lists</a>
      </li>
      <li class="nav-item link-btn pt-4">
        <a class="nav-link" href="">New List</a> <!-- Pitäis toho saada users/<string:username>/create -->
      </li>
      <li class="nav-item link-btn pt-4">
        <a class="nav-link" href="/movie-lists">All Lists</a>
      </li>
    </ul>

    <ul class="navbar-nav mx-auto">

      <li class="nav-item link-btn pt-4">
          <a class="nav-link text-dark font-weight-bold">{{ session['username'] }}</a>
      </li>
       
      <li class="nav-item link-btn pt-4">
          <a class="nav-link" href="/auth/logout">Log Out</a>
      </li>
    </ul>
  </div>

</nav>