{% include 'base.html' %}


{% block content%}
{% include 'user_navbar.html'%}
    <h2 class="text-light text-center">Your personal reviewed movie list</h2>
    {% if success %}
    {{ success }}
    {% endif %}
    <div class="container mt-5">
        {% if lenght == 0 %}
            <h3 class="text-center">You've not reviewed any movies yet!</h3>
        {% else %}
            {% for review in movies %}
                <div class="d-inline-flex flex-row pt-3 pb-3 text-center">
                <div class="col-sm mx-auto">
                     <img class="card-img-top img-resize mx-auto" src="{{ review.image_url }}" alt="Card image cap">
                            <ul class="list-group list-group-flush img-resize">
                        <li class="list-group-item"><strong>{{review.movie_title}}</strong></li>
                        <li class="list-group-item">IMDb rating: <strong>{{review.imdb_rating}}</strong></li>
                        <li class="list-group-item">Release year: <strong>{{ review.release_year }}</strong></li>
                        <li class="list-group-item">My rating: <strong>{{ review.user_rating }}</strong></li>
                        <li class="list-group-item text-center">{{ review.user_review }}</li>
                    </ul>
                    <a href="/reviews/edit/{{review.review_id}}" class="m-2">
                        <button class="btn btn-success mx-auto m-2  text-center" type="submit">Edit Review</button>
                    </a>
                    <a href="/reviews/delete/{{review.review_id}}" class="m-2">
                        <button class="btn btn-danger mx-auto m-2 text-center" type="submit">Delete Review</button>
                    </a>
                </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
{% endblock content %}
